.vscode/

# Compiled Object files
*.slo
*.lo
*.o
*.obj
*.pyc
*.d

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.x
*.elf
*.hex
*.zip

# e2studio junk
.metadata

myMediaFile
_compiler_.txt

# ignore Visual Studio stuffs
.vscode
compile_flags.txt
.cmake
.vs
Debug
x64
Release
*.vcxproj.user
.vs/

_artifacts/
